.mainContent {
  background-color: white;
  border: 1px solid #CCC;
  border-radius: 5px;
  position: relative;
  top: -40px;
  max-width: 900px;
  padding: 15px 20px;
  margin: 0 auto 30px auto;
  min-height: 400px;
}

