.navWrap {
  display: inline-block;
  padding-top: 10px;
}

.navList {
  display: flex;
}

.navList li {
  line-height: 80px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-right: 30px;
}

@media only screen and (max-width: 919px) {
  .navList {
    display: flex;
    position: relative;
    top: -10px;
  }

  .navList li {
    line-height: 50px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-right: 30px;
  }
}