@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: linear-gradient(rgb(80, 110, 180), rgb(80, 120, 110));
}

h1 { font-size: 150%; }
h2 { font-size: 130%; }
h3 { font-size: 120%; }
h4 { font-size: 110%; }
h1, h2, h3, h4 {
  font-weight: bold;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
